.container-style{
    height: 100%;
    position: relative;
}

.description{
    width: 600px;
    position: absolute;
    z-index: 999;
    color: aliceblue;
    top: 22%;
    left: 1%;
}

.description h1{
    font-size: 46px;
}

.description p{
    font-size: 22px;
}
.carousel-boullt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-boullt span{
    width: 45px;
    height: 12px;
    background-color: #0f0f0f;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 2px 2px rgba (73, 72, 72, 0.338);
}